*
!ingest/
!schemas/
!pom.xml
!kafka-contracts/pom.xml
!kafka-contracts/src/main/
!orbit-core/pom.xml
!orbit-core/src/main/
!risk-engine/pom.xml
!risk-engine/src/main/
!db-migrate/pom.xml
!db-migrate/src/main/
!query-api/pom.xml
!query-api/src/main/
ingest/testdata/
**/.env
**/.env.*
**/*.pem
**/*.key
**/.envrc
**/*.p12
**/*.jks
**/id_*
